/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header Navigation */
header {
    background: #333;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */
/* Hero Section */
#hero {
    background-color: #4CAF50;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2rem;
}


/* Section Styling */
section {
    padding: 40px 
}

.pre{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}